form, form div {
  display: flex;
  flex-direction: column;
}

form {
  gap: 1rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  color: #000;
  border-radius: 10px;
  margin-bottom: 1rem;
  place-items: center;
  padding: 1rem;
  position: relative;
}

.form-wrapper h2:hover {
  cursor: pointer;
}

.form-wrapper h2::after {
  position: absolute;
  content: "";
  top: 22px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../../public/icons/icon-down.png);
  background-position: top;
  background-size: contain;
  transition: transform 0.2s ease-in;
}

.form-wrapper h2.rotate::after {
  transform: rotate(180deg);
}

.form-wrapper>button {
  margin-top: auto;
}

.form-btn {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

#delete-btn {
  background-color: red;
  color: #fff;
}

.form-btn button[type="submit"] {
  background-color: dodgerblue;
  border: none;
  color: #fff;
}

.experiences {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
  align-items: center;
}

.experiences li {
  font-weight: bold;
  padding: 0.25rem;
}

.experiences li:hover {
  cursor: pointer;
}