* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@font-face {
  font-family: "montserrat";
  src: url(../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
  font-family: montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;
  --theme-color: dodgerblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

details {
  background-color: #fff;
  border-radius: 12px;
  color: #000;
  padding: 1rem;
}

summary:hover {
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

input {
  appearance: none;
  border: none;
  padding-top: 0;
  font-size: inherit;
  border-radius: 12px;
  background-color: #efefef;
  padding: 0.25rem 0.5rem;
  color: #000;
  font-size: 12px;
}

label {
  font-weight: bold;
}

button {
  --button-bg-color: #fff;
  --button-color: #000;
  --button-font-weight: 600;

  border: 1px solid #efefef;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  font-size: 1em;
  font-weight: var(--button-font-weight);
  font-family: inherit;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  will-change: filter;
}
button:hover {
  filter: brightness(95%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
